
{%
include 'partial/forms/validationSummary.twig'
with {'title' : 'There was a problem','validationMessages' : validationMessages}
%}

{{ form().openTag(form)|raw }}
{{ csrfToken() }}
<fieldset>

    {{ MotFormRow(form.get(
    constant('DvsaCommon\\InputFilter\\Account\\SecurityQuestionAnswersInputFilter::FIELD_NAME_FIRST_QUESTION_ID'))
    ) }}

    {{ MotFormRow(form.get(
    constant('DvsaCommon\\InputFilter\\Account\\SecurityQuestionAnswersInputFilter::FIELD_NAME_FIRST_ANSWER'))
    ) }}

    {{ MotFormRow(form.get(
    constant('DvsaCommon\\InputFilter\\Account\\SecurityQuestionAnswersInputFilter::FIELD_NAME_SECOND_QUESTION_ID'))
    ) }}

    {{ MotFormRow(form.get(
    constant('DvsaCommon\\InputFilter\\Account\\SecurityQuestionAnswersInputFilter::FIELD_NAME_SECOND_ANSWER'))
    ) }}

</fieldset>

<div class="form-group">
    <details>
        <summary role="button" aria-controls="dateDetails" id="expandable-link" aria-expanded="false" tabindex="0">
            <span class="summary">Forgotten your security questions?</span>
        </summary>
        <div class="panel-indent" id="dateDetails" aria-hidden="true">
                <div class="text">
                    <p>
                        {% set helpdeskVariables = {
                        'postContactText' : ' to reset your questions',
                        'config': config,
                        } %}
                        {% include 'partial/gds/general/contactHelpdesk.twig' with helpdeskVariables %}
                    </p>
                </div>
        </div>
    </details>
</div>

<nav class="content-navigation">
    {{ MotFormRow(form.get('submitSecurityAnswers')) }}
    <ul class="content-navigation__secondary">
        <li><br>
            <a href="{{ urlBack|raw }}">Back</a>
        </li>
    </ul>
</nav>
{{ form().closeTag()|raw }}
