{# @var heroAction \Dashboard\ViewModel\HeroActionViewModel #}

{% if heroAction.isHeroActionVisible %}
    <div id="hero-actions" class="c-home-hero__actions">

        {% if heroAction.startMotViewModel.canStartMotTest %}
            {% include '/dashboard/user-home/mot-test.twig' with {'motTestAction': heroAction.startMotViewModel} %}
        {% endif %}

        {% if heroAction.targetedReinspectionViewModel.isVehicleExaminer %}
            {% include '/dashboard/user-home/targeted-reinspection.twig' with {'targetedReinspectionAction': heroAction.targetedReinspectionViewModel} %}
        {% endif %}

        {% if heroAction.slotsViewModel.canViewSlotBalance %}
            {% include '/dashboard/user-home/slots.twig' with {'slotBalanceAction': heroAction.slotsViewModel} %}
        {% endif %}

        {% if heroAction.startMotViewModel.hasTestInProgress %}
            <ul class="c-action-list" style="margin-bottom: 30px">
                <li class="c-action-list__item">
                    <a class="c-action-list__link"
                       href="{{ url('mot-test/options/mot-checklist', {'motTestNumber' : heroAction.startMotViewModel.testNumberInProgress}) }}"
                       target="_blank">
                        MOT inspection sheet
                    </a>
                </li>
                {% if heroAction.testingAdviceViewModel.isTestingAdviceAvailable %}
                    <li class="c-action-list__item">
                        <a class="c-action-list__link" href="{{ url(
                        heroAction.testingAdviceViewModel.route,
                        heroAction.testingAdviceViewModel.routeParameters,
                        heroAction.testingAdviceViewModel.routeOptions
                        ) }}">
                            Testing advice for vehicle
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        <ul class="c-action-list">
        {#Links for hero box#}

            {% if heroAction.DashboardGuard.canViewAeInformationLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('authorised-examiner-search') }}">
                    AE information
                </a>
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewSiteInformationLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('vehicle-testing-station-search') }}">
                    Site information
                </a>
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewUserSearchLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('user_admin/user-search') }}"
                   id="action-start-user-search">
                    User search
                </a>
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewReplacementDuplicateCertificateLink %}
                <li class="c-action-list__item">
                    <a class="c-action-list__link" href="{{ url('replacement-certificate-vehicle-search') }}" id="action-start-certificate-reissue">
                        Replacement/duplicate certificate
                    </a>
                </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewVehicleSearchLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('vehicle/search') }}">
                    Vehicle information
                </a>
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewMotTestsLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('mot-test-search') }}">
                    MOT tests
                </a> (comparison of tests available)
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewDemoTestRequestsLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('user_admin/demo-test-requests') }}" id="demo-test-requests" >
                    Demo test requests
                </a>
            </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewPaymentsLink %}
                <li class="c-action-list__item">
                    <a class="c-action-list__link" href="{{ url('transaction-search') }}" id="transactions" >
                        Payments
                    </a>
                </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewDirectDebitLink %}
                <li class="c-action-list__item">
                    <a class="c-action-list__link" href="{{ url('direct-debit-search') }}" id="transactions" >
                        Direct Debit
                    </a>
                </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewMotFormsLink %}
                <li class="c-action-list__item">
                    <a class="c-action-list__link" href="{{ url('forms') }}" id="mot-forms">
                        MOT forms
                    </a>
                </li>
            {% endif %}
            {% if heroAction.DashboardGuard.canViewGenerateSurveyReportLink %}
            <li class="c-action-list__item">
                <a class="c-action-list__link" href="{{ url('survey-reports') }}" id="generate-survey-report">
                    Generate survey report
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
