{% if errorMessages is not empty %}
    <div class="validation-summary">
        <h2 class="heading-medium">There was a problem with the information you entered</h2>
        <ol>
            <li>{{ errorMessages.message }}</li>
        </ol>
    </div>
{% endif %}

<form name="itemDetailsForm" method="post" action="{{ defectJourneyUrl().toAddDefect(defectId, type) }}">
    {{ csrfToken() }}
    <fieldset>
        <h3 class="heading-medium">Location</h3>
        <div class="form-group">
            <label for="locationLateral" class="form-label">Lateral</label>
            <select name="locationLateral" id="locationLateral" class="form-control-select">
                <option value="n/a">n/a</option>
                <option value="nearside">Nearside</option>
                <option value="central">Central</option>
                <option value="offside">Offside</option>
            </select>
        </div>
        <div class="form-group">
            <label for="locationLongitudinal" class="form-label">Longitudinal</label>
            <select name="locationLongitudinal" id="locationLongitudinal" class="form-control-select">
                <option value="n/a">n/a</option>
                <option value="front">Front</option>
                <option value="rear">Rear</option>
            </select>
        </div>
        <div class="form-group">
            <label for="locationVertical" class="form-label">Vertical</label>
            <select name="locationVertical" id="locationVertical" class="form-control-select">
                <option value="n/a">n/a</option>
                <option value="upper">Upper</option>
                <option value="lower">Lower</option>
                <option value="inner">Inner</option>
                <option value="outer">Outer</option>
            </select>
        </div>
    </fieldset>

    <div class="form-group {% if errorMessages is not empty %} has-error {% endif %}">
        {% if isManualAdvisory %}
            <h3 class=" heading-medium">Manual advisory description</h3>
            <label for="comment" class="form-label">Give brief details of the defect</label>
        {% else %}
            <h3 class=" heading-medium">Additional information</h3>
            <label for="comment" class="form-label">Add any further comments if required</label>
        {% endif %}
        {% if errorMessages is not empty %}
            <span class="validation-message">{{ errorMessages.displayMessage }}</span>
        {% endif %}

        <textarea type="text" name="comment" id="comment" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label class="block-label" for="failureDangerous">
            <input type="checkbox" value="1" name="failureDangerous" id="failureDangerous">This defect is dangerous
        </label>
    </div>

    <nav class="content-navigation">
        <input type="hidden" name="confirmDetailPage" value="">
        <button id="submit-defect" type="submit" class="button">Add {% if isManualAdvisory %}manual advisory{% else %}{{ type }}{% endif %}</button>

        <ul class="content-navigation__secondary">
            <li>
                <a href="{{ backUrl }}" class="back-to-open-list">Cancel and return to {{ context }}</a>
            </li>
        </ul>
    </nav>
</form>