<header class="content-header">
    <ul class="content-header__tertiary-list">
        <li id="vehicleMakeModel" class="content-header__list-item--primary">{{ vehicleMakeAndModel|upper }}</li>
        <li id="vehicleRegistration" class="content-header__list-item">{{ vehicle.registration|escape }}</li>
        <li id="firstUsedDate" class="content-header__list-item">First used {{ vehicleFirstUsedDate|escape }}</li>
    </ul>
</header>

{% if flashMessenger().hasSuccessMessages() %}
    {% for message in flashMessenger().getSuccessMessages() %}
        <div class="message--success" id="validation-message--success">
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endif %}

{% if flashMessenger().hasErrorMessages() %}
    {% for message in flashMessenger().getErrorMessages() %}
        <div class="message--failure" id="validation-message--failure">
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endif %}

<div class="defect-summary">
    <div class="defect-summary__total">
        <h2 class="defect-summary__total-heading">Defects</h2>
        <ul>
            <li><span class="badge--alert js-numberOfFailures">{{ identifiedDefects.numberOfUnrepairedFailures }}</span> Failures</li>
            <li><span class="badge--info">{{ identifiedDefects.numberOfPrs }}</span> PRS</li>
            <li><span class="badge--warn js-numberOfAdvisories">{{ identifiedDefects.numberOfUnrepairedAdvisories }}</span> Advisories</li>
        </ul>
        {# "Show/Hide defects button only appears when there are defects to be shown. #}
        {% if identifiedDefects.hasFailuresPrsOrAdvisories %}
            <span class="defect-summary__toggle">
            <a href="#" data-action="showHideToggle" data-open-text="Hide defects" data-target="rfrList" id="toggleRFRList" class="toggle-switch">Show defects</a>
        </span>
        {% endif %}
    </div>
    <div id="rfrList" class="js-hidden">
        {% include '/defects/identified-defects.twig' with {'identifiedDefects': identifiedDefects, 'motTestNumber': motTest.motTestNumber} %}
    </div>
</div>


{% include 'contentBreadcrumb' %}

<br>

<ol id="defects-list" class="defect-results">
    {% for defect in defects %}
        <li class="defect">
            <div>
                <strong class="defect__title">{{ defect.description }}</strong>
                {# Only show advisory text if the defect is an advisory. #}
                {% if defect.isAdvisory %}
                    <p class="defect__meta">{{ defect.advisoryText }}</p>
                {% endif %}
                {# Only show inspection manual reference if the defect has an inspection manual reference. #}
                {% if defect.inspectionManualReference != '' %}
                    <p class="defect__reference"><a href="{{ url('user-home') ~ defect.inspectionManualReferenceUrl }}" target="_blank" rel="external">{{ defect.inspectionManualReference }} </a></p>
                {% endif %}
            </div>

            <h4 class="visuallyhidden">Defect severity</h4>
            <ul class="defect__add">
                {% if defect.isAdvisory %}
                    <li>
                        <a href="{{ url('mot-test-defects/categories/category/add-defect',
                                        {'motTestNumber' : motTest.motTestNumber, 'categoryId' : categoryId,
                                            'defectId' : defect.defectId, 'type' : 'advisory'}) }}" class="button--warn">
                            Advisory
                        </a>
                    </li>
                {% endif %}
                {% if defect.isPrs %}
                    <li>
                        <a href="{{ url('mot-test-defects/categories/category/add-defect',
                                        {'motTestNumber' : motTest.motTestNumber, 'categoryId' : categoryId,
                                            'defectId' : defect.defectId, 'type' : 'prs'}) }}" class="button--info">
                            PRS
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('mot-test-defects/categories/category/add-defect',
                        {'motTestNumber' : motTest.motTestNumber, 'categoryId' : categoryId,
                            'defectId' : defect.defectId, 'type' : 'failure'}) }}" class="button--alert">
                            Failure
                        </a>
                    </li>
                {% endif %}
                {% if defect.isFailure %}
                    <li>
                        <a href="{{ url('mot-test-defects/categories/category/add-defect',
                                        {'motTestNumber' : motTest.motTestNumber, 'categoryId' : categoryId,
                                            'defectId' : defect.defectId, 'type' : 'failure'}) }}" class="button--alert">
                            Failure
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ol>

<nav class="content-navigation">
    <a href="{{ url('mot-test', {'motTestNumber' : motTest.motTestNumber}) }}" class="button">Finish and return to MOT test results</a>

    <ul class="content-navigation__secondary">
        <li>
            <a href="{{ url('mot-test-defects/categories', {'motTestNumber' : motTest.motTestNumber}) }}">Return to defect categories</a>
        </li>
    </ul>
</nav>

<!-- {{ inlineScript().appendFile("/assets/javascripts/dvsa.js?v2.10.0") }} -->

{# JavaScript for the "Show/Hide defects button. #}
{{ inlineScript().captureStart() }}
$(document).ready(function() {
var showerHider = new DVSA.Modules.DVSAShowHideToggle.showerHider({});
showerHider.init();

var markRepairs = new DVSA.Modules.DVSAMarkRepairs.markRepairs({});
markRepairs.init();
});
{{ inlineScript().captureEnd() }}
