<div class="message--important">
    <p>Hi! You have hit a page with just boilerplate code. Please implement me as defined in <a href="https://jira.i-env.net/browse/{{ storyId  }}">{{ storyId }}</a>.</p>
</div>

<table class="key-value-list">
    <tbody>
    <tr>
        <th class="key-value-list__key">MOT Test Number</th>
        <td class="key-value-list__value">{{ motTestNumber }}</td>
    </tr>
    <tr>
        <th class="key-value-list__key">Component Category ID</th>
        <td class="key-value-list__value">{{ categoryId }}</td>
    </tr>
    <tr>
        <th class="key-value-list__key">Defect ID</th>
        <td class="key-value-list__value">{{ defectId }}</td>
    </tr>
    <tr>
        <th class="key-value-list__key">Defect Item ID</th>
        <td class="key-value-list__value">{{ defectItemId }}</td>
    </tr>
    <tr>
        <th class="key-value-list__key">Defect Type</th>
        <td class="key-value-list__value">{{ type }}</td>
    </tr>
    </tbody>
</table>