{% if identifiedDefects.failures is not empty %}
<h3 class="defect-summary__heading">
    <span class="badge--alert js-numberOfFailures">{{ identifiedDefects.numberOfUnrepairedFailures }}</span>
    <span class="defect-summary__heading-type">Failures</span>
</h3>
<ol>
    {% for failure in identifiedDefects.failures %}
    <li class="js-rfrItem defect {% if failure.isMarkedAsRepaired %}has-success defect--is-selected{% endif %}">

        {% if failure.isRepairable(isRetest) %}
            <div class="defect-status">
                <div class="js-itemStatus defect-status__inner"></div>
            </div>
        {% endif %}

        <div>
            {% if failure.isDangerous %}
            <span class="defect__is-dangerous">Dangerous</span>
            {% endif %}
            <strong class="defect__title">{{ failure.name }}</strong>
            <p class="defect__meta">{{ failure.userComment }}</p>
            <h4 class="visuallyhidden">Position</h4>
            <ul class="defect__positions">
                {% if failure.hasLocation %}
                    <li>Lateral: <span class="defect__property-list-value">{{ failure.lateralLocation|default('n/a') }}</span></li>
                    <li>Longitudinal: <span class="defect__property-list-value">{{ failure.longitudinalLocation|default('n/a') }}</span></li>
                    <li>Vertical: <span class="defect__property-list-value">{{ failure.verticalLocation|default('n/a') }}</span></li>
                {% else %}
                    <li>Location not recorded</li>
                {% endif %}
            </ul>
        </div>
        <h4 class="visuallyhidden">Actions</h4>

        <ul class="defect__edit">
            {% if failure.isRepairable(isRetest) %}

                <li class="defect__marked-undo">
                    <span>Repaired</span>
                    <form class="js-rfrForm" method="post" action="{{ defectJourneyUrl().toUndoRepairDefect(failure.id) }}">
                        {{ csrfToken('repairDefect') }}
                        <input class="js-buttonMarkRepaired button--link button--right" type="submit" value="Undo">
                        <input type="hidden" name="defectId" value="{{ failure.id }}">
                        <input type="hidden" name="defectType" value="failure">
                        <input type="hidden" name="defectText" value="{{ failure.name }}">
                    </form>
                </li>

                <li class="defect__mark-repaired">
                    <form class="js-rfrForm" method="post" action="{{ defectJourneyUrl().toRepairDefect(failure.id) }}">
                        {{ csrfToken('repairDefect') }}
                        <input class="js-buttonMarkRepaired button button--small button--right" type="submit" value="Mark as repaired">
                        <input type="hidden" name="defectId" value="{{ failure.id }}">
                        <input type="hidden" name="defectType" value="failure">
                        <input type="hidden" name="defectText" value="{{ failure.name }}">
                    </form>
                </li>

            {% elseif failure.isRemovable %}
                <li> <a href="{{ defectJourneyUrl().toEditDefect(failure.id) }}" class="">Edit</a></li>
                <li>or <a href="{{ defectJourneyUrl().toRemoveDefect(failure.id) }}" class="">Remove</a></li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% if identifiedDefects.prs is not empty %}
    <h3 class="defect-summary__heading">
        <span class="badge--info">{{ identifiedDefects.numberOfPrs }}</span>
        <span class="defect-summary__heading-type">PRS</span>
    </h3>
    <ol>
        {% for prs in identifiedDefects.prs %}
            <li class="defect {% if prs.isMarkedAsRepaired %}has-success defect--is-selected{% endif %}">

                <div>
                    {% if prs.isDangerous %}
                        <span class="defect__is-dangerous">Dangerous</span>
                    {% endif %}
                    <strong class="defect__title">{{ prs.name }}</strong>
                    <p class="defect__meta">{{ prs.userComment }}</p>
                    <h4 class="visuallyhidden">Position</h4>
                    <ul class="defect__positions">
                        {% if prs.hasLocation %}
                            <li>Lateral: <span class="defect__property-list-value">{{ prs.lateralLocation|default('n/a') }}</span></li>
                            <li>Longitudinal: <span class="defect__property-list-value">{{ prs.longitudinalLocation|default('n/a') }}</span></li>
                            <li>Vertical: <span class="defect__property-list-value">{{ prs.verticalLocation|default('n/a') }}</span></li>
                        {% else %}
                            <li>Location not recorded</li>
                        {% endif %}
                    </ul>
                </div>
                <h4 class="visuallyhidden">Actions</h4>
                <ul class="defect__edit">
                    {% if prs.isRemovable %}
                        <li> <a href="{{ defectJourneyUrl().toEditDefect(prs.id) }}" class="">Edit</a></li>
                        <li>or <a href="{{ defectJourneyUrl().toRemoveDefect(prs.id) }}" class="">Remove</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endif %}

{% if identifiedDefects.advisories is not empty %}
<h3 class="defect-summary__heading">
    <span class="badge--warn js-numberOfAdvisories">{{ identifiedDefects.numberOfUnrepairedAdvisories }}</span>
    <span class="defect-summary__heading-type">Advisories</span>
</h3>
    <ol>
        {% for advisory in identifiedDefects.advisories %}
            <li class="js-rfrItem defect {% if advisory.isMarkedAsRepaired %}has-success defect--is-selected{% endif %}">

                {% if advisory.isRepairable(isRetest) %}
                    <div class="defect-status">
                        <div class="js-itemStatus defect-status__inner"></div>
                    </div>
                {% endif %}

                <div>
                    {% if advisory.isDangerous %}
                        <span class="defect__is-dangerous">Dangerous</span>
                    {% endif %}
                    {% if advisory.isManualAdvisory %}
                        <strong class="defect__title">{{ advisory.userComment }}</strong>
                        <p class="defect__meta"></p>
                    {% else %}
                        <strong class="defect__title">{{ advisory.name }}</strong>
                        <p class="defect__meta">{{ advisory.userComment }}</p>
                    {% endif %}
                    <h4 class="visuallyhidden">Position</h4>
                    <ul class="defect__positions">
                        {% if advisory.hasLocation %}
                            <li>Lateral: <span class="defect__property-list-value">{{ advisory.lateralLocation|default('n/a') }}</span></li>
                            <li>Longitudinal: <span class="defect__property-list-value">{{ advisory.longitudinalLocation|default('n/a') }}</span></li>
                            <li>Vertical: <span class="defect__property-list-value">{{ advisory.verticalLocation|default('n/a') }}</span></li>
                        {% else %}
                            <li>Location not recorded</li>
                        {% endif %}
                    </ul>
                </div>
                <h4 class="visuallyhidden">Actions</h4>
                <ul class="defect__edit">
                    {% if advisory.isRepairable(isRetest) %}
                        <li class="defect__marked-undo">
                            <span>Repaired</span>
                            <form class="js-rfrForm" method="post" action="{{ defectJourneyUrl().toUndoRepairDefect(advisory.id) }}">
                                {{ csrfToken('repairDefect') }}
                                <input class="js-buttonMarkRepaired button--link button--right" type="submit" value="Undo">
                                <input type="hidden" name="defectId" value="{{ advisory.id }}">
                                <input type="hidden" name="defectType" value="advisory">
                                <input type="hidden" name="defectText" value="{{ advisory.name }}">
                            </form>
                        </li>
                        <li class="defect__mark-repaired">
                            <form class="js-rfrForm" method="post" action="{{ defectJourneyUrl().toRepairDefect(advisory.id) }}">
                                {{ csrfToken('repairDefect') }}
                                <input class="js-buttonMarkRepaired button button--small button--right" type="submit" value="Mark as repaired">
                                <input type="hidden" name="defectId" value="{{ advisory.id }}">
                                <input type="hidden" name="defectType" value="advisory">
                                <input type="hidden" name="defectText" value="{{ advisory.name }}">
                            </form>
                        </li>
                    {% elseif advisory.isRemovable %}
                        <li> <a href="{{ defectJourneyUrl().toEditDefect(advisory.id) }}" class="">Edit</a></li>
                        <li>or <a href="{{ defectJourneyUrl().toRemoveDefect(advisory.id) }}" class="">Remove</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endif %}
