<header class="content-header">
    <ul class="content-header__tertiary-list">
        <li id="vehicleMakeModel" class="content-header__list-item--primary">{{ vehicleMakeAndModel|escape }}</li>
        <li id="vehicleRegistration" class="content-header__list-item">{{ vehicle.registration|escape }}</li>
        <li id="firstUsedDate" class="content-header__list-item">First used {{ vehicleFirstUsedDate|escape }}</li>
    </ul>
</header>

{% if flashMessenger().hasSuccessMessages() %}
    {% for message in flashMessenger().getSuccessMessages() %}
        <div class="message--success" id="validation-message--success">
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endif %}

<div class="defect-summary">
    <div class="defect-summary__total">
        <h2 class="defect-summary__total-heading">Defects</h2>
        <ul>
            <li><span class="badge--alert">{{ observedDefects.numberOfFailures }}</span> Failures</li>
            <li><span class="badge--info">{{ observedDefects.numberOfPrs }}</span> PRS</li>
            <li><span class="badge--warn">{{ observedDefects.numberOfAdvisories }}</span> Advisories</li>
        </ul>
        {# "Show/Hide defects button only appears when there are defects to be shown. #}
        {% if observedDefects.hasFailuresPrsOrAdvisories %}
            <span class="defect-summary__toggle">
            <a href="#" data-action="showHideToggle" data-open-text="Hide defects" data-target="rfrList" id="toggleRFRList" class="toggle-switch">Show defects</a>
        </span>
        {% endif %}
    </div>
    <div id="rfrList" class="js-hidden">
        {% include '/defects/observed-defects.twig' with {'observedDefects': observedDefects} %}
    </div>
</div>

<form role="search" method="get" action="{{ url('mot-test-defects/search', {'motTestNumber' : motTestNumber}) }}">
    <fieldset class="search-bar">
        <label class="search-bar__label visuallyhidden" for="search-main">Search the MOT testing service</label>
        <div class="search-bar__control-group">
            <input class="search-bar__search-input" type="search" title="Search" id="search-main" name="q" value="{{ searchTerm }}">
            <input type="hidden" name="p" value="1">
            <input class="search-bar__search-submit" type="submit" value="Search">
        </div>
        <span class="search-bar__secondary-action">or view <a href="{{ url('mot-test-defects/categories', {'motTestNumber' : motTestNumber}) }}">defect categories</a></span>
    </fieldset>
    {% if searchTerm != '' %}
        <p class="search-bar__results">
            Your search for <strong>"{{ searchTerm }}"</strong> returned <strong>{{ paginator.pages.totalItemCount }}</strong> defect{% if numberOfResults != 1 %}s{% endif %}.
        </p>
        {% if paginator.pages.totalItemCount == 0 %}
            Try again with a different search term.
        {% endif %}
    {% endif %}

</form>

{% if hasResults %}
    <ol id="defects-list" class="defect-results">
        {% for defect in paginator.currentItems %}
            <li class="defect">
                <div>
                    <strong class="defect__title">{{ defect.description }}</strong>
                    {# Only show advisory text if the defect is an advisory. #}
                    {% if defect.isAdvisory %}
                        <p class="defect__meta">{{ defect.advisoryText }}</p>
                    {% endif %}
                    {# Only show inspection manual reference if the defect has an inspection manual reference. #}
                    {% if defect.inspectionManualReference != '' %}
                        <p class="defect__reference"><a href="{{ url('user-home') ~ defect.inspectionManualReferenceUrl }}" target="_blank" rel="external">{{ defect.inspectionManualReference }} </a></p>
                    {% endif %}
                </div>

                <h4 class="visuallyhidden">Defect severity</h4>
                <ul class="defect__add">
                    {% if defect.isAdvisory %}
                        <li>
                            <a href="{{ defectJourneyUrl().toAddDefect(defect.defectId, 'advisory') }}" class="button--warn">
                                Advisory
                            </a>
                        </li>
                    {% endif %}
                    {% if defect.isPrs %}
                        <li>
                            <a href="{{ defectJourneyUrl().toAddDefect(defect.defectId, 'prs') }}" class="button--info">
                                PRS
                            </a>
                        </li>
                        <li>
                            <a href="{{ defectJourneyUrl().toAddDefect(defect.defectId, 'failure') }}" class="button--alert">
                                Failure
                            </a>
                        </li>
                    {% endif %}
                    {% if defect.isFailure %}
                        <li>
                            <a href="{{ defectJourneyUrl().toAddDefect(defect.defectId, 'failure') }}" class="button--alert">
                                Failure
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ol>
    {% if paginator.pages.totalItemCount > 10 %}
        <div class="pager">
            <br>
            <div class="pager__controls">
                {% if paginator.pages.previous is defined %}
                    <a class="pager__prev" href="{{ url('mot-test-defects/search', {motTestNumber : motTestNumber}, {query : {'q' : searchTerm, 'p' : page - 1}}) }}">Prev</a>
                {% endif %}
                <ul class="pager__list">
                    {% for page in paginator.pages.pagesInRange %}
                        {% if page != paginator.pages.current %}
                            <li><a href="{{ url('mot-test-defects/search', {motTestNumber : motTestNumber}, {query : {'q' : searchTerm, 'p' : page}}) }}">{{ page }}</a></li>
                        {% else %}
                            <li>{{ page }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if paginator.pages.next is defined %}
                    <a class="pager__next" href="{{ url('mot-test-defects/search', {motTestNumber : motTestNumber}, {query : {'q' : searchTerm, 'p' : page + 1}}) }}">Next</a>
                {% endif %}
            </div>
            <div class="pager__summary">Showing {{ paginator.pages.firstItemNumber }} – {{ paginator.pages.lastItemNumber }} of {{ paginator.pages.totalItemCount }} defects</div>
        </div>
    {% endif %}
{% endif %}

<div class="panel-indent">
    <p><a href="#">Add a manual advisory</a> - only do this if you have searched for a defect and can't find a match.</p>
</div>

<nav class="content-navigation">
    <a href="{{ url('mot-test', {'motTestNumber' : motTestNumber}) }}" class="button">Finish and return to MOT test results</a>
    <ul class="content-navigation__secondary">
    </ul>
</nav>

<!-- {{ inlineScript().appendFile("/assets/javascripts/dvsa.js") }} -->

{# JavaScript for the "Show/Hide defects button. #}
{{ inlineScript().captureStart() }}
$(document).ready(function() {
var showerHider = new DVSA.Modules.DVSAShowHideToggle.showerHider({});
showerHider.init();
});
{{ inlineScript().captureEnd() }}
