{% if identifiedDefects.generatedFailures is not empty %}
    <h3 class="defect-summary__heading">
        <span class="badge--alert" id="numberOfGeneratedFailures">{{ identifiedDefects.numberOfGeneratedFailures }}</span>
        <span class="defect-summary__heading-type">Failures</span>
    </h3>
    <ol>
        {% for failure in identifiedDefects.generatedFailures %}
            <li class="defect">
                <div>
                    {% if failure.isDangerous %}
                        <span class="defect__is-dangerous" aria-hidden="true">Dangerous</span>
                    {% endif %}
                    <h4 class="defect__title">{{ failure.name }}</h4>
                    <p class="defect__meta">{{ failure.userComment }}</p>
                    {% if failure.isDangerous %}
                        <strong class="visuallyhidden">Dangerous</strong>
                    {% endif %}
                    <h5 class="visuallyhidden">Position</h5>
                    <ul class="defect__positions">
                        {% if failure.hasLocation %}
                            <li>Lateral: <span class="defect__property-list-value">{{ failure.lateralLocation|default('n/a') }}</span></li>
                            <li>Longitudinal: <span class="defect__property-list-value">{{ failure.longitudinalLocation|default('n/a') }}</span></li>
                            <li>Vertical: <span class="defect__property-list-value">{{ failure.verticalLocation|default('n/a') }}</span></li>
                        {% else %}
                            <li>Location not recorded</li>
                        {% endif %}
                    </ul>
                </div>
                <h5 class="visuallyhidden">Actions</h5>
            </li>
        {% endfor %}
    </ol>
{% endif %}