{% if identifiedDefects.generatedFailures is not empty %}
    <h3 class="defect-summary__heading">
        <span class="badge--alert">{{ identifiedDefects.numberOfGeneratedFailures }}</span>
        <span class="defect-summary__heading-type">Failures</span>
    </h3>
    <ol>
        {% for failure in identifiedDefects.generatedFailures %}
            <li class="defect">
                <div>
                    {% if failure.isDangerous %}
                        <span class="defect__is-dangerous">Dangerous</span>
                    {% endif %}
                    <strong class="defect__title">{{ failure.name }}</strong>
                    <p class="defect__meta">{{ failure.userComment }}</p>
                    <h4 class="visuallyhidden">Position</h4>
                    <ul class="defect__positions">
                        {% if failure.hasLocation %}
                            <li>Lateral: <span class="defect__property-list-value">{{ failure.lateralLocation|default('n/a') }}</span></li>
                            <li>Longitudinal: <span class="defect__property-list-value">{{ failure.longitudinalLocation|default('n/a') }}</span></li>
                            <li>Vertical: <span class="defect__property-list-value">{{ failure.verticalLocation|default('n/a') }}</span></li>
                        {% else %}
                            <li>Location not recorded</li>
                        {% endif %}
                    </ul>
                </div>
                <h4 class="visuallyhidden">Actions</h4>
            </li>
        {% endfor %}
    </ol>
{% endif %}