<!— {{ inlineScript().appendFile("/assets/javascripts/dvsa.js") }} -->
{% if viewModel.form.getErrorMessages is not empty %}
    <div class="validation-summary">
        <h2 class="heading-medium">There was a problem</h2>
        <ol>
            {% for message in viewModel.form.getErrorMessages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ol>
    </div>
{%  endif %}

<form method="post" novalidate>
    {{ csrfToken() }}
    <fieldset>
        <div class="form-group {% if viewModel.form.getVehicleMake.messages is not empty %} has-error {% endif %}">
            <label class="form-label" for="vehicleMake">Make</label>
            {% if viewModel.form.getVehicleMake.messages is not empty %}
                <span class="validation-message">Select a make</span>
            {% endif %}
            {{ formElement(viewModel.form.getVehicleMake) }}
        </div>

                <div id="other-wrapper" class="form-group panel-indent js-hidden {% if viewModel.form.getOther.messages is not empty %} has-error {% endif %}" aria-hidden="false">
            <label id="other-make" class="form-label">
                If other, please specify
                {% if viewModel.form.getOther.messages is not empty %}
                    <span class="validation-message">{{ viewModel.form.getOther.messages[0] }}</span>
                {% endif %}
            </label>

            {{ formElement(viewModel.form.getOther) }}
        </div>
    </fieldset>
    <div class="form-group">
        <nav class="content-navigation">
            <input type="submit" id="make-continue" value="Continue" class="button " id="continueButton">
            <ul class="content-navigation__secondary">
                <li>
                    <a href="{{ url('create-vehicle/new-vehicle-vrm-and-vin') }}">Back</a>
                </li>
            </ul>
        </nav>
    </div>
</form>
